<section layout="row" layout-align="center stretch" flex>
    <sidenav></sidenav>
    <div id="meat">
        <div layout="column" layout-align="center center">
        <h1>{{pageTitle}}</h1>
    <md-card layout="column" class="groupCard ucd" layout-align="start">
        <h3>User Centered Design</h3>
        <div layout="row">
            <md-button class="md-accent md-raised md-hue-1">final_presentation.ppt</md-button>

            <md-button class="md-accent md-raised md-hue-2">final_writeup.pdf</md-button>

            <md-button class="md-accent md-raised md-hue-3">interviews.docx</md-button>

            <md-button class="md-accent md-raised md-hue-1">initial_presentation.ppt</md-button>
        </div>
    </md-card>
    <md-card layout="column" class="groupCard basketWeave" layout-align="start">
        <h3>Underwater Basket Weaving</h3>
        <div layout="row">
            <md-button class="md-accent md-raised md-hue-2">basket_designs.pdf</md-button>

            <md-button class="md-accent md-raised md-hue-1">sales_pitch.ppt</md-button>

            <md-button class="md-accent md-raised md-hue-5">group_photo.jpeg</md-button>
        </div>
    </md-card>
    <md-card layout="column" class="groupCard mysteryInc" layout-align="start">
        <h3>Mystery Incorporated</h3>
        <div layout="row">
            <md-button class="md-accent md-raised md-hue-6">Grocery_list.txt</md-button>

            <md-button class="md-accent md-raised md-hue-7">suspects.xls</md-button>

            <md-button class="md-accent md-raised md-hue-8">evidence.zip</md-button>
        </div>
    </md-card>
        </div>
        </div>
</section>