 <section layout="row" layout-align="center stretch" flex>
        <sidenav>

        </sidenav>
     <md-card layout-align="center center">
                <h1>Collabri</h1>
                <h3>  Under Construction  </h3>
                <h5>  Currently there is page routing, and a functional sidebar.  </h5>
                <h5>  Next a datepicker needs to be added for the schedule page.  </h5>
                <h5>  An editor such as NicEdit needs to be added for teh files page.  </h5>
                <h5>  A few css tweaks should have this looking spiffy in a jiffy.  </h5>
         <br>
         <h4>  Try clicking on the different buttons in the sidebar!  </h4>
     </md-card>
 </section>