 <section layout="row" layout-align="center stretch" flex>
        <sidenav>
        </sidenav>
     <div id="meat"  layout-align="center center">
     <md-card class="groupCard" layout-align="center center" style="background-color: #d9b19c !important;">
                <h1>Collabri</h1>
         <iframe src="https://docs.google.com/presentation/d/1zX34va3Qete8IsQy9k80WnLkS3sW_8wG4pfO0S3saBQ/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
     </md-card>
     </div>
 </section>