<div layout="row" layout-align="center stretch">
    <sidenav></sidenav>
    <div id="meat">
        <div layout="column" layout-align="center center">
            <h2>Current Meeting - User Centered Design Final Project</h2>
            <md-card layout="column" class="groupCard ucd" layout-align="start">
                <h3>User Centered Design</h3>
                <h4>Final Project</h4>

            </md-card>
            <md-card layout="column" class="groupCard basketWeave" layout-align="start">
                <h3>Underwater Basket Weaving</h3>
                <h4>Extra Credit Group</h4>
            </md-card>
            <md-card layout="column" class="groupCard mysteryInc" layout-align="start">
                <h3>Mystery Incorporated</h3>
                <h4>Detective Group</h4>
            </md-card>

        </div>
    </div>
</div>