<div layout="row" layout-align="center stretch">
    <sidenav></sidenav>
    <div id="meat">
        <div layout="column" layout-align="center center">
            <h2>Current Meeting - User Centered Design Final Project</h2>
            <md-card layout="column" class="groupCard ucd" layout-align="start">
                <h3>User Centered Design</h3>
                <h4>Final Project</h4>
                <h5>Meeting in Progress</h5>
                <p>Thursday, December 3rd</p>
                <br>
                <p>Final Presentation</p>

            </md-card>
            <md-card layout="column" class="groupCard basketWeave" layout-align="start">
                <h3>Underwater Basket Weaving</h3>
                <h4>Extra Credit Group</h4>
                <h5>Next Meeting:</h5>
                <p>Friday, December 4th</p>
                <br>
                <p>Basket Jamboree @ The Thunderdome</p>
            </md-card>
            <md-card layout="column" class="groupCard mysteryInc" layout-align="start">
                <h3>Mystery Incorporated</h3>
                <h4>Detective Group</h4>
                <h5>Next Meeting:</h5>
                <p>Friday, December 11th</p>
                <br>
                <p>Location: Meet at Freddy's place</p>
            </md-card>

        </div>
    </div>
</div>