<div ng-controller="sidenavCtrl" layout="column" layout-align="start start"  class="sidenav">

    <h3 ng-click="openLink('')" style="cursor: pointer">  Collabri</h3>
        <div ng-repeat="link in links">
        <md-button ng-if="isCurrentLocation(link)" class="md-raised selectedSidenavButton" ng-click="openLink(link)">
            {{link}}
        </md-button>
            <md-button ng-if="!isCurrentLocation(link)" class="md-raised sidenavButton" ng-click="openLink(link)">
                {{link}}
            </md-button>
            <br>
        </div>

</div>