<div ng-controller="sidenavCtrl" flex="10" layout="column" layout-align="start start">

    <md-button ng-click="openLink('')">Collabri</md-button>
    <md-sidenav md-is-locked-open="true">
        <div ng-repeat="link in links">
        <md-button ng-if="isCurrentLocation(link)" class="md-raised md-primary" ng-click="openLink(link)">
            {{link}}
        </md-button>
            <md-button ng-if="!isCurrentLocation(link)" class="md-raised" ng-click="openLink(link)">
                {{link}}
            </md-button>
            <br>
        </div>

    </md-sidenav>
</div>