.groupCard {
    padding: 40px;
    width: 440px;
}

.ucd{
    background-color: #c4d99c;
}

.basketWeave{
    background-color: #9cc4d9;
}

.mysteryInc{
    background-color: #d99cc4;
}

.sidenavButton {
    background-color : #9cc4d9 !important;
}

.selectedSidenavButton {
    background-color: #d9b19c !important;
}

.sidenav{
    padding-left: 10px;
    position: relative;
    float: left;
}

#meat {
    position: relative;
    top: 0;
    width: 90vw;
    height: 90vh;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
}


body {
    background-color: #FDFDFD;
}